.previewTime {
    position: absolute;
    bottom: 120px;
}

.previewTime {
    background: black;
    border-radius: 4px;
    padding: 4px;
}

.seekComponent {
    min-width: 90vw;
    position: relative;
    top: -2px;
}

.seek {
    position: relative;
    top: -2px;
    min-width: 90vw;
    cursor: pointer;
    padding: 0 14px;
}

.currentDur,
.loadedDur,
.pitch,
.preview {
    position: relative;
    height: 4px;
    border-radius: 20px;
}

.currentDur {
    width: 0%;
    top: 16px;
    background: #095ae5;
    z-index: 4;
}

.loadedDur {
    width: 0%;
    top: 12px;
    background: rgba(255, 255, 255, 0.4);
    z-index: 3;
}

.preview {
    max-width: 90vw;
    width: 0%;
    top: 8px;
    background: rgba(255, 255, 255, 0.2);
    z-index: 2;
}

.pitch {
    max-width: 90vw;
    top: -12px;
    background: rgba(255, 255, 255, 0.2);
    z-index: 1;
}

.indicatorCurrentDurPos {
    position: relative;
    top: -2px;
    left: -0.5%;
    width: 16px;
    height: 16px;
    background: #ffffff;
    border-radius: 50%;
    z-index: 5;
}

.durRemains {
    position: relative;
    min-width: 4vw;
    text-align: right;
    color: white;
    font-size: 15px;
}

.seek:hover .currentDur,
.seek:hover .loadedDur,
.seek:hover .pitch,
.seek:hover .preview {
    height: 8px;
}

.seek:hover .currentDur {
    top: 28px;
}

.seek:hover .loadedDur {
    top: 20px;
}

.seek:hover .preview {
    top: 12px;
}

.seek:hover .pitch {
    top: -16px;
}

.seek:hover .indicatorCurrentDurPos {
    width: 20px;
    height: 20px;
}

.seek:hover {
    top: -6px;
}