.displayNone {
    display: none !important;
}

.flex {
    display: flex;
}

.f-align-center {
    align-items: center;
}

.f-justify-center {
    justify-content: center;
}

.f-justify-between {
    justify-content: space-between;
}

.f-align-between {
    align-items: space-between;
}

.f-column {
    flex-direction: column;
}

.f-wrap{
    flex-wrap: wrap;
}

.mx-0 {
    margin: 0 4px;
}

.mx-1 {
    margin: 0 2px;
}

.w-0 {
    width: 96vw;
}

.w-1 {
    width: 60vmin;
}

.text-size-0 {
    font-size: 16px;
}

.bg-0 {
    background: rgb(8, 49, 136) !important;
    color: white;
}

.cursor-pointer{
    cursor: pointer;
}