.videoCenteredComponents,
.errorDisplayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.loader_icons {
    width: 80px;
    height: 80px;
}

.control_animation {
    animation: rotateAnimation 1s infinite linear;
    /* Animation lasts for 1 seconds and repeats infinitely */
}

.errorDisplayer {
    padding: 4vmin;
    font-size: 4vmin;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 0;
}

.errors {
    text-align: center;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
        /* Start position, no rotation */
    }

    to {
        transform: rotate(360deg);
        /* End position, 360 degrees rotation */
    }
}